<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daiqile.ruidajinfu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo120"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.InvestDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BorrowDescribeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.TenderLogActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PaymentDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.InvestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MoneyRecordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.InvestRecordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.NoticeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.NoticeDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.SafeCenterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ChangePwdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ChangeInvestPwdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FindPwdByPhoneActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.InviteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BankCardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.UnbindCardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RealNameActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BindCardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RechargeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.WithDrawActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.InvestResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.OpenAccountActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.RechargeResultActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>